.idea/
*~
installComplete
docker/fonts/ALL_FONTS
docker/plugins/ALL_PLUGINS
docker/os/fedora/ubuntu/scripts/Dockerfile
docker/os/fedora/ubuntu/scripts/fontsOS
docker/os/fedora/ubuntu/scripts/updateContainer.py
data/profile/data.*
ldpreload/mod*.h
ldpreload/mod*.so
__pycache__
